.clock {
  align-items: center;
  background-color: $clock-bg-color;
  border: 2px solid $clock-border-color;
  border-radius: 50%; // Makes a circle
  display: flex; // Makes centering and aligning a grid easier
  height: 14rem;
  justify-content: center; // Available when using flex
  margin: 4rem auto;
  width: 14rem;
}

.clock-text {
  color: $clock-text-color;
  font-size: 2.25rem;
  font-weight: 300;
}
