.top-bar, .top-bar ul  {
  background-color: $nav-background
}

.top-bar {  // .top-bar .menu-text {}
  .menu-text {
    color: $nav-text-color;
  }

  .menu > .menu-text > a {
    display: inline;
    padding: 0;
  }

  .active-link { // .top-bar .active-link { ... }
    font-weight: bold;
  }
}
